/*======== General ============*/
*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}

:root{
    --bg-white:#FFFFFF;
    --bg-orange:#FF9800;
    --bg-green:#009688;
    --bg-linear-green: linear-gradient(90deg, rgba(13, 66, 61, 0.9) -22.84%, rgba(12, 199, 181, 0.9) 138.88%),linear-gradient(0deg, #E6E6E6, #E6E6E6);
    --bg-second-orange:#F44336;
    --bg-gray:rgba(238, 249, 248, 0.9);

}